html {
    text-align: center;
    background-color: #FAF8F8;
    scroll-behavior: smooth;
}
body{
    margin:0%;
    z-index: 10;
}
h1 {
    font-family: 'Chatoyer';
    font-size: 70px;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-family: 'Apricosa';
    font-style: normal;
    font-size: 22px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    color: #202D52;
}
h3{
    font-family: 'Puremalone';
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 100 ;
}
h4{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}

.inter {
    font-family: 'Inter'!important;
    font-size: 16px;
    font-weight: 300;
}

.puremalone {
    font-family: 'Puremalone'!important;
    font-weight: 300;
}

.palmhoney {
    font-family: 'Sauvage';
    line-height: 0.5;
    margin-bottom: 20px;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}


div {
    margin: 0px;
}

a {
    text-decoration: none;
    color:#262626;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}
a:hover{
    color:brown;
}

.no-margin{
    margin-top:5px;
    margin-bottom:20px;
}

.small-font {
    font-size:40px;
}

.uppercase {
    text-transform: uppercase;
}

.light {
    opacity: 0.5;
}

.divider {
    width: 100%;
    padding-top:80px;
}
.intro img{
    text-align: center;
    width: 100%;
}

.invert{
    margin: 0;
    padding-top:50px;
    padding-bottom: 50px;
    background-color:#E56854;
    color:white;
    width: 100%;
}
.info img{
    margin-bottom: 10px;
}

.info {
    max-width: 640px;
    margin: auto;
    padding: 0 10%;
    margin-top: 80px;
}
.info p{
    line-height: 30px;
    color: #202D52;
    font-size: 16px;
    font-family: 'Puremalone';
}

.hotels-section p{
    line-height: 36px;
    color: #202D52;
    font-size: 22px;
}


.info a{
    text-decoration: underline;
    color: #D2A8E5;
    font-size: 16px;
}

.contact a{
    text-decoration: underline;
    color: #D2A8E5;
    font-size: 16px;
}

.contact a:hover{
    color:#7E8BA4;
}

.info a:hover{
    color:#7E8BA4;
}
.info-section{
    height: 350px;
    width: 300px;
    margin: 0 50px;
}

.footer-image{
    width:100%;
    margin-bottom: 100px;
}

.hotels-intro{
    color: #F66C59;
    max-width: 600px;
    margin:auto;
    padding-right: 20px;
    padding-left: 20px;
}
.kontakt{
    margin:auto;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 22px;
    line-height: 30px;
    color:#F66C59;
}
.kontakt h2{
    color: #F66C59;
}
.kontakt h3{
    font-weight: 100;
}
.hotels-intro p{
    font-size: 22px;
    line-height: 30px;
    color:#202D52;
}
.kontakt-section{
    height: 300px;
    width: 300px;
    margin: 0 50px;
}
.hotels-intro img{
    margin-bottom:20px;
}
.hotels-intro h2{
    font-size:30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.shape1{
    position: absolute;
    left: 0;
    top: 1500px;
    z-index: -1;
}
.shape2{
    position: absolute;
    right: 100px;
    top: 2630px;
    z-index: -1;
}
.shape3{
    position: absolute;
    left: 100px;
    top: 3000px;
    z-index: -1;
}

.button {
    padding: 10px 30px;
    background-color: #202D52;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
}
.button:hover{
    color: white;
    opacity: 0.7;
}
.hotels-section{
    width: 350px;
    margin: 50px;
}
.hotel-container{
    margin-top: 100px;
}

.faq{
    max-width: 640px;
    margin: auto;
}

/***********NAVIGATION***********/

.navigation{
    position: relative;
    top: 30px;
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    
}
.navtitle{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color:#D2A8E5;
}
.navlinks{
    display: flex;
    list-style: none;
    margin-right: 20px;
}
.navlinks .active a{
    color:#D2A8E5;
    opacity: 0.5;
}
.navitems{
    padding-left: 20px;
    padding-right: 20px;
}
.navlinks a{
    text-decoration: none;
    color:#262626;
    transition: all ease 0.25s;
}
.navlinks a:hover{
    color:#ed58d0;
    opacity: 0.5;
    transition: all ease 0.25s;
}

.large-screen{
    display: block;
}

.small-screen{
    display: none;
}

@media only screen and (max-width: 600px) {
    .large-screen {
      display: none;
    }
    .small-screen {
        display: block;
    }
    .navitems{
        padding-left: 10px;
        padding-right: 10px;
    }
    .divider{
        padding-top: 40px;
    }
    .info{
        margin-top: 20px;
    }
  }