@font-face {
    font-family: 'Brightglow';
    src: url('Brightglow-Regular.eot');
    src: url('Brightglow-Regular.eot?#iefix') format('embedded-opentype'),
        url('Brightglow-Regular.woff2') format('woff2'),
        url('Brightglow-Regular.woff') format('woff'),
        url('Brightglow-Regular.ttf') format('truetype'),
        url('Brightglow-Regular.svg#Brightglow-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Celesse';
    src: url('Celesse-Regular.eot');
    src: url('Celesse-Regular.eot?#iefix') format('embedded-opentype'),
        url('Celesse-Regular.woff2') format('woff2'),
        url('Celesse-Regular.woff') format('woff'),
        url('Celesse-Regular.ttf') format('truetype'),
        url('Celesse-Regular.svg#Celesse-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Sauvage';
    src: url('Sauvage-Regular.eot');
    src: url('Sauvage-Regular.eot?#iefix') format('embedded-opentype'),
        url('Sauvage-Regular.woff2') format('woff2'),
        url('Sauvage-Regular.woff') format('woff'),
        url('Sauvage-Regular.ttf') format('truetype'),
        url('Sauvage-Regular.svg#Sauvage-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Chatoyer';
    src: url('Chatoyer-Regular.eot');
    src: url('Chatoyer-Regular.eot?#iefix') format('embedded-opentype'),
        url('Chatoyer-Regular.woff2') format('woff2'),
        url('Chatoyer-Regular.woff') format('woff'),
        url('Chatoyer-Regular.ttf') format('truetype'),
        url('Chatoyer-Regular.svg#Chatoyer-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Apricosa';
    src: url('Apricosa-Regular.eot');
    src: url('Apricosa-Regular.eot?#iefix') format('embedded-opentype'),
        url('Apricosa-Regular.woff2') format('woff2'),
        url('Apricosa-Regular.woff') format('woff'),
        url('Apricosa-Regular.ttf') format('truetype'),
        url('Apricosa-Regular.svg#Apricosa-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Astralaga';
    src: url('Astralaga-Bold.eot');
    src: url('Astralaga-Bold.eot?#iefix') format('embedded-opentype'),
        url('Astralaga-Bold.woff2') format('woff2'),
        url('Astralaga-Bold.woff') format('woff'),
        url('Astralaga-Bold.ttf') format('truetype'),
        url('Astralaga-Bold.svg#Astralaga-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

